body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
}

#gameContainer {
    display: grid;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cell {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    background-image: url("images/cell.avif");
    background-size: cover;
    cursor: pointer;
}

.cell.flag {
    background-image: url("images/flag.avif");
    background-size: cover;
}

.cell.mine {
    background-image: url("images/mine.avif");
    background-size: cover;
}

.cell.open {
    background-image: url("images/openCell.avif");
    background-size: cover;
}

.cell.number {
    background-image: url("images/openCell.avif");
    background-size: cover;
    font-weight: bold;
}