body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
}

#gameContainer {
    display: grid;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cell {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    background-image: url("images/cell.avif");
    background-size: cover;
    cursor: pointer;
}

.cell.flag {
    background-image: url("images/flag.avif");
    background-size: cover;
}

.cell.mine {
    background-image: url("images/mine.avif");
    background-size: cover;
}

.cell.open {
    background-image: url("images/openCell.avif");
    background-size: cover;
}

.cell.number0 {
    background-image: url("images/openCell.avif");
    background-size: cover;
}

.cell.number1 {
    background-image: url("images/openCell.avif");
    background-size: cover;
    color: #0000F7;
    font-weight: bold;
}

.cell.number2 {
    background-image: url("images/openCell.avif");
    background-size: cover;
    color: #007C00;
    font-weight: bold;
}

.cell.number3 {
    background-image: url("images/openCell.avif");
    background-size: cover;
    color: #EC1F1F;
    font-weight: bold;
}

.cell.number4 {
    background-image: url("images/openCell.avif");
    background-size: cover;
    color: #00007C;
    font-weight: bold;
}

.cell.number5 {
    background-image: url("images/openCell.avif");
    background-size: cover;
    color: #7C0000;
    font-weight: bold;
}

.cell.number6 {
    background-image: url("images/openCell.avif");
    background-size: cover;
    color: #007C7C;
    font-weight: bold;
}

.cell.number7 {
    background-image: url("images/openCell.avif");
    background-size: cover;
    color: #000000;
    font-weight: bold;
}

.cell.number8 {
    background-image: url("images/openCell.avif");
    background-size: cover;
    color: #7C7C7C;
    font-weight: bold;
}