body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.788);
}

h1 {
    font-size: 40px;
    line-height: 1;
    color: #ff1a1a;
    font-size: 50px;
    text-shadow: 4px 4px 0px rgba(242, 13, 13, 0.5), 8px 8px 0px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.property {
    text-align: center;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    background-color: #eeeeee;
    border-bottom: 5px solid #cccccc;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

label {
    display: inline-block;
    text-align: left;
    width: 80px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(59, 58, 58);
}

input {
    width: 50px;
    height: 20px;
    text-align: center;
    font-size: 20px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    font-weight: bold;
    border-bottom: 5px solid #b46436;
    transition: 0.3s;
    background-color: #eb8b54;
}

.original-button:hover {
    border-bottom-width: 0;
    transform: translateY(5px);
}

#gameContainer {
    display: grid;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #c6c6c6;
}

.cell {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    background-image: url("images/cell.avif");
    background-size: cover;
    cursor: pointer;
}

.cell.flag {
    background-image: url("images/cell.avif");
    background-image: url("images/flag.avif");
    background-size: cover;
}

.cell.mine {
    background-image: url("images/cell.avif");
    background-image: url("images/mine.avif");
    background-size: cover;
}

.cell.open {
    background-image: url("images/openCell.avif");
    background-size: cover;
}

.cell.number0 {
    background-image: url("images/openCell.avif");
    background-size: cover;
}

.cell.number1,
.cell.number2,
.cell.number3,
.cell.number4,
.cell.number5,
.cell.number6,
.cell.number7,
.cell.number8 {
    background-image: url("images/openCell.avif");
    background-size: cover;
    font-weight: bold;
}

.cell.number1 {
    color: #0000F7;
}

.cell.number2 {
    color: #007C00;
}

.cell.number3 {
    color: #EC1F1F;
}

.cell.number4 {
    color: #00007C;
}

.cell.number5 {
    color: #7C0000;
}

.cell.number6 {
    color: #007C7C;
}

.cell.number7 {
    color: #000000;
}

.cell.number8 {
    color: #7C7C7C;
}